$color-white:#ffff;
$color-black:#000000;
$color-black-light:#00000029;

$color-danger: #DE2F48;
$color-success: #2ED573;



$color-blue-1:#354D72;
$color-blue-2:#547CA2;



$color-gray-1:#8594aa;
$color-gray-2:#ced4da;
$color-gray-3:#cbd1d6;
$color-gray-4:#6B7280;
$color-gray-5:#3b444f;
