@import "../../../assets/scss/variables";
@import "../../../assets/scss/mixins";

.main {
  height: 90vh;
  &__font {
    @include font-deco(600, 26px);
    &--dark {
      color: $color-gray-5;
    }
    &--danger {
      color: $color-danger;
    }
  }

  &__btn {
    width: 113px;
    height: 43px;
    color: $color-white;
    @include font-deco(500, 16px);
    background: $color-success 0% 0% no-repeat padding-box;
    border-radius: 4px;
    opacity: 1;
    border: none;
  }
}
